# GET url
{{ $GETendpoints := list
"/PrismGateway/services/rest/v1/cluster/version"
}}

# POST url
{{ $POSTendpoints := list
}}

# PUT url
{{ $PUTendpoints := list
}}

# DELETE url
{{ $DELETEendpoints := list
}}

{{define "route"}}
    {{ .Prefix | trimPrefix "/PrismGateway/services/rest/" | replace "/" "." | replace "_" "#" }}-{{ .Method | lower }}:
      entryPoints:
        - "proxy"
      rule: "Host(`{{ default "FQDN_not_configured" (env "FQDN") }}`) && PathPrefix(`{{.Prefix}}`) && Method(`{{.Method}}`)"
      service: nutanix-pc
      priority: 1111
      tls: {}
{{end}}

{{ $noFilter := env "NOFILTER" }}
{{ if or (not $noFilter) (ne $noFilter "true") }}

http:
  routers:
{{range $prefix := $GETendpoints}}
{{ template "route" dict "Prefix" $prefix "Method" "GET"}}
{{end}}
{{range $prefix := $POSTendpoints}}
{{ template "route" dict "Prefix" $prefix "Method" "POST"}}
{{end}}
{{range $prefix := $PUTendpoints}}
{{ template "route" dict "Prefix" $prefix "Method" "PUT"}}
{{end}}
{{range $prefix := $DELETEendpoints}}
{{ template "route" dict "Prefix" $prefix "Method" "DELETE"}}
{{end}}

{{ end }}